<div>
	<p>Back to <%= link_to "#{@item.category.name}", category_items_path(@item.category.id) %>
</div>

<div class="row">
	<div class="col-md-1">
	</div>

	<div class="col-md-11 item-headline">
		<h1><%= @item.name %></h1>
		<br>
		<% if current_user.try(:admin?) %>
			<%= link_to "Edit Item", edit_item_path(@item) %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-1">
	</div>

	<div class="col-md-4">
		<%= image_tag @item.image.url, class: "img-responsive" %>
	</div>

	<div class="col-md-6 right">
		<ul class="nav nav-tabs nav-justified">
			<li><a href="" id="item-detail-button">Detail</a></li>
			<li><a href="" data-itemId="<%= @item.id %>" id="item-reviews-button">Reviews</a></li>
		</ul>
		<div id="item-info">
			<%= render 'detail' %>
		</div>
	</div>

	<div class="col-md-1">
	</div>

</div>
