<%= form_for [@item, @review] do |f| %>
	<div class="form-group">
	<%= f.label :star %>
  <%= f.text_field :star, class: "form-control" %>
  </div>
  <div class="form-group">	
	<%= f.label :title %>
	<%= f.text_field :title, class: "form-control" %>
	</div>
	<div class="form-group">
	<%= f.label :content %>
	<%= f.text_area :content, class: "form-control"  %>
	</div>
	<%= f.submit %>
<% end %>